<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>GRIP-Bank System</title>
</head>
<body>
    <div class="container text-center">

    {%if id1 is None%}
        <h1 class="mb-5 mt-3 text-center">Customers List</h1>
        <a href="viewtransact" class="btn btn-secondary mx-5" style="float:right; display:flex;">View All Transactions</a>
    {%else %}
    <h1 class="my-5 text-center">Select a Cutomer to Transact with</h1>
    {%endif%}
        
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Current Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for cust in customers%}
                <tr>
                    <th scope="row">{{cust.id}}</th>
                    <td>{{cust.name}}</td>
                    <td>{{cust.email}}</td>
                    <td>{{cust.current_balance}}</td>
                    
                    {%if id1 is None%}
                    <td><a href='viewcust?id={{cust.id}}' class="btn btn-outline-primary">View</a></td>
                    {%else %}
                    <td><a href='transact?id1={{id1}}&id2={{cust.id}}' class="btn btn-outline-success">Transact</a></td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </div>
</body>
</html>